<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Spring Thymeleaf Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendors/fontawesome/css/all.min.css}" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid mb-4">
            <div layout:fragment="content"></div>
        </div>

        <script th:src="@{/vendors/jquery/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>