<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Spring Thymeleaf Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendors/fontawesome/css/all.min.css}" rel="stylesheet">
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a th:href="@{/}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <h2>C.R.U.D. Template</h2>
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a th:href="@{/students}" class="nav-link text-white text-center">
                                    <i class="fas fa-users d-block fa-lg mx-auto mb-2"></i>
                                    Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main class="flex-shrink-0">
            <div class="container">
                <div class="py-4" layout:fragment="content"></div>
            </div>
        </main>

        <footer class="footer mt-auto py-3 bg-dark">
            <div class="container">
                <span class="text-muted">Pedro Henrique Lacombe (Fuskinha)</span>
            </div>
        </footer>

        <script th:src="@{/vendors/jquery/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendors/jquery-mask/dist/jquery.mask.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".zipCode").mask("00000-000");
                $(".birthdayDate").mask("00/00/0000");
            });
        </script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>