<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/basic}">
    <body>
        <div layout:fragment="content">
            <h1 class="text-center mb-4">Edit student</h1>

            <form method="POST" th:action="@{/students/{id}(id=${student.id})}" class="mx-auto w-50" th:object="${student}">
                <th:block th:include="fragment/error-message.html"></th:block>

                <fieldset>
                    <legend>Personal Informations</legend>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter the name..." th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label>E-mail</label>
                            <input type="text" class="form-control" placeholder="Enter the e-mail..." th:field="*{email}" th:classappend="${#fields.hasErrors('email')}? 'is-invalid'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label>Birthday</label>
                            <input type="date" class="form-control" name="birthday" th:value="*{#temporals.format(birthday, 'yyyy-MM-dd')}" th:classappend="${#fields.hasErrors('birthday')}? 'is-invalid'">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Address</legend>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label>Zip Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control zipCode" placeholder="00000-000" th:field="*{zipCode}" th:classappend="${#fields.hasErrors('zipCode')}? 'is-invalid'">
                                <button id="search-cep" type="button" class="btn btn-outline-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Street</label>
                        <input type="text" class="form-control" placeholder="Enter the street..." th:field="*{street}" th:classappend="${#fields.hasErrors('street')}? 'is-invalid'">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label>Number</label>
                            <input type="text" class="form-control" placeholder="Enter the name..." th:field="*{number}" th:classappend="${#fields.hasErrors('number')}? 'is-invalid'">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Complement</label>
                            <input type="text" class="form-control" placeholder="Enter the complement..." th:field="*{complement}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label>District </label>
                            <input type="text" class="form-control" placeholder="Enter the district..." th:field="*{district}" th:classappend="${#fields.hasErrors('district')}? 'is-invalid'">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>City</label>
                            <input type="text" class="form-control" placeholder="Enter the city..." th:field="*{city}" th:classappend="${#fields.hasErrors('city')}? 'is-invalid'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label>State</label>
                            <input type="text" class="form-control" placeholder="Enter the state..." th:field="*{state}" th:classappend="${#fields.hasErrors('state')}? 'is-invalid'">
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-sm-6">
                        <a th:href="@{/students}" class="btn btn-outline-secondary w-100">
                            Back
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-outline-success w-100">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <th:block layout:fragment="scripts">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('button#search-cep').on('click', function() {
                        $.get('https://api.postmon.com.br/v1/cep/' + $('input[name="zipCode"]').val(), function(response) {
                            if(!("erro" in response)) {
                                $('input[name="zipCode"]').val(response.cep);
                                $('input[name="street"]').val(response.logradouro);
                                $('input[name="state"]').val(response.estado);
                                $('input[name="city"]').val(response.cidade);
                                $('input[name="district"]').val(response.bairro);
                            }
                        });
                    });
                });
            </script>
        </th:block>
    </body>
</html>